# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv/
venv/
ENV/
env/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Git
.git/
.gitignore

# Testing and development files
.pytest_cache/
tests/
scratch/
locustfile.py
*task.log

# Docker metadata
Dockerfile
.dockerignore
